@import url(/avatar/avatar.css);
/* badges */
.badge-large{
    height: 1.2rem;
    width: 1.2rem;
    /* background: red; */
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    /* border: 2px solid white; */
}

.badge-medium{
    height: 0.9rem;
    width: 0.9rem;
    /* background: red; */
    position: absolute;
    right: 7px;
    bottom: 7px;
    border-radius: 50%;
    /* border: 2px solid white; */
}
.badge-small{
    height: 0.8rem;
    width: 0.8rem;
    /* background: red; */
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    /* border: 2px solid white; */
}

/* badge colors */
.badge--color--green{
    background-color: green;
    border: 2px solid white;
}

.badge--color--red{
    background-color: red;
    border: 2px solid white;
}

.badge--color--yellow{
    background-color: yellow;
    border: 2px solid white;
    
}