/* font import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
/*component imports */
@import url(/components/alert/alert.css);
@import url(/components/avatar/avatar.css);
@import url(/components/badge/badge.css);
@import url(/components/buttons/buttons.css);
@import url(/components/cards/card.css);
@import url(/components/images-component/image.css);
@import url(/components/inputs/input.css);
/* ------------------------ */
@import url(docsite-css/navbar.css);
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit",sans-serif;
}

.landing-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    flex-direction: column;
    background-color: #dfe954;
}

.landing-button{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.header{
    font-size: 5rem;
    color: #00D09C;
}