*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* wrapper */
.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
/* avatar */
.avatar{
    
    width: 7rem;
    height: 7rem;
}

.avatar-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
