@import url(/avatar/avatar.css);

/* alert container */
.alert-container{
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 34.5rem;
    padding: 1rem;
    gap:1rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}